body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #6C757D;
    color: #fff;
    cursor: pointer;
}

/* Ajout de style pour les messages d'erreur */
.error {
    color: red;
    margin-top: 10px;
}

/* Ajout de style pour les messages de succès */
.success {
    color: green;
    margin-top: 10px;
}

/* Style pour le titre */
h1 {
    color: #007BFF;
    text-align: center;
}

/* Style pour le formulaire de connexion */
form.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour le tableau */
table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
